- description = "Ysawa.com is the site of Yoshihiro Sawa, a software developer using Ruby on Rails and JavaScript MVC."
%meta{ name: "description", content: description }
- keywords = "Ruby,Rails,Marionette.JS,Zepto,jQuery,HTML5,CSS3"
%meta{ name: "keywords", content: keywords }
%meta{ property: "og:title", content: 'ysawa.com' }
%meta{ property: "og:site_name", content: 'ysawa.com' }
%meta{ property: "og:url", content: root_url }
%meta{ property: "og:description", content: description }
%meta{ property: "og:image", content: URI.join(root_url, asset_path('ysawa.jpg')) }
