---
defaults: &defaults
  delivery_method: :sendmail
  smtp_settings:
    :address: "smtp.gmail.com"
    :port: 587
    :domain: 'gmail.com'
    :user_name: '<username>@gmail.com'
    :password: '<password>'
    :authentication: 'plain'
    :enable_starttls_auto: true
  sendmail_settings:
    :location: '/usr/sbin/sendmail'
    :arguments: '-i -t'

development:
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
  delivery_method: :test
